[alias]


ci = commit
    
p = push
    
co = checkout
    
br = branch
    
st = status
    
df = diff --color --color-words --abbrev
    
lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --